// fonts
$primary-font: 'Lato', sans-serif;

// colors
$primary-color: #27ae60;
$secondary-color: #f8efba;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-white: #fff;
$color-black: #000;
