*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 43.75%;

	@include respond (small) {
		font-size: 50%;
	}

	@include respond (medium) {
		font-size: 56.25%;
	}

	@include respond (large) {
		font-size: 62.5%;
	}
}

body {
	line-height: 1.6;
	font-family: $primary-font;
	font-weight: 300;
}

.container {
	display: grid;
	grid-template-rows: min-content 90vh repeat(7, min-content);
	grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start]
		repeat(8, [col-start] minmax(min-content, 15rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

	@include respond(medium) {
		grid-template-rows: min-content 90vh repeat(6, min-content);
		grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start]
			repeat(8, [col-start] minmax(min-content, 15rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end];
	}
}
