@import "./abstracts/variables";
@import "./abstracts/mixins";

@import "./base/base";
@import "./base/typography";
@import "./base/utilites";

@import "./layout/nav";
@import "./layout/header";
@import "./layout/footer";

// @import "./component/btn";
@import "./component/about-section";
@import "./component/blog-section";
@import "./component/products-section";
@import "./component/projects-section";
@import "./component/services-section";
