.btn,
.btn:link,
.btn:visited {
	font-size: 2.2rem;
	font-weight: 700;
	display: inline-block;
	text-decoration: none;
	padding: 2rem 3rem;
	background-color: $secondary-color;
	text-transform: capitalize;
	color: $font-color;
	border-radius: 4px;
	box-shadow: 0 .8rem .5rem rgb($color-black, .1);
	transform: translateY(0);
	transition: all .2s ease-out;
}

.btn:hover {
	background-color: #f39c12;
}

.btn:active {
	box-shadow: 0 .5rem .5rem rgb($color-black, .2);
	transform: translateY(3px);
}
